.history-page-wrapper{
    display: flex;
    position: relative;
    left: 0px;
    position: fixed;
    top: 100px;
    z-index: 98;
    background: #fff;
}
.his-block_item{
    position: relative;
    padding-left: 100px;
}
#history-time-body{
    overflow: hidden;
}
.footer-main{
        z-index: 99;
}
.group-timeline{
  height: calc(100vh - 8vh);
    width: 82vw;
    display: flex;
    align-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: space-around;  
    &:nth-child(odd){
        .sub-img-timeline{
            position: relative;
            display: flex;
            align-items: center;
            &:nth-child(1){
                top: -8vw;
            }
            &:nth-child(2){
                top: 6vw;
            }
        }
    }
    &:nth-child(even){
        .sub-img-timeline{
            position: relative;
            display: flex;
            align-items: center;
            &:nth-child(1){
                top: -5vw;
            }
            &:nth-child(2){
                top: 9vw;
            }
        }
    }
}
.history-page{
    overflow: hidden;
}

.group-year{
    .name-year{
        font-size: 230px;
        line-height: 124px;
        color: #800008;
        margin-bottom: -10px;
    }
}
.sub-img-detail{
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 1.7px;
    font-family: "DTLAlbertinaT";
    position: absolute;
    width: 100%;
    right: -115%;
}
.group-progress{
    width: 100%;
    
    height: 2px;
    position: fixed;
    bottom: 50px;
    z-index: 98;
    .progress-width{
        height: 2px;
        width: 0%;
        background: #000;
        @include animation-delay(0.3);
    }
    .progress-timeline{
        display: flex;
        justify-content: space-around;
        font-size: 28px;
        position: relative;
        top: -20px;
        li{
            list-style: none;
        }
    }
}